window {
    background-color: rgba(20, 20, 20, 0.75);
    animation: all 0.3s ease-in-out;
}

button {
    background-color: rgba(30, 30, 30, 0.85);
    border-radius: 14px;
    border: 2px solid transparent;

    margin: 20px;
    padding: 25px;

    background-repeat: no-repeat;
    background-position: center 30%;
    background-size: 256px;

    color: #dddddd;
    font-family: "PT Sans Narrow";
    font-size: 16px;

    transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

button:hover {
  background-color: rgba(60, 60, 60, 0.95);
  border-color: #7fc8ff;
  color: white;
}

button:active {
    background-color: rgba(80, 80, 80, 0.95);
}

/* this is only needed for nixos */
#lock {
    background-image: image(url("/run/current-system/sw/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/run/current-system/sw/share/wlogout/icons/logout.png"));
}

#reboot {
    background-image: image(url("/run/current-system/sw/share/wlogout/icons/reboot.png"));
}

#shutdown {
    background-image: image(url("/run/current-system/sw/share/wlogout/icons/shutdown.png"));
}

#suspend {
    background-image: image(url("/run/current-system/sw/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/run/current-system/sw/share/wlogout/icons/hibernate.png"));
}
